.mainCardStyles {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
  }
  
  @media (max-width: 992px){
    .mainCardStyles {
      max-width: 208px;
      margin: 0 auto;
      text-align: center;
      justify-content: space-between;
    }
  }
